@{
    ViewData["Title"] = "Home Page";
}
@model TestViewModel

<div class="text-center">
    <h1 class="display-4">Welcome MessageBoard</h1>
    <p>測試網頁</p>
    <p>輸入框測試:<br/>
        Id:         @Html.DisplayTextFor(x=>x.Id)       <br/>
        ChangeValue:@Html.DisplayTextFor(x=>x.Change)   <br/>
        TestName:   @Html.DisplayTextFor(x=>x.Name)     <br/>
    </p> 
</div>
